<!--
============================================
; Title:  error.ejs
; Author: Jake Seever
; Date:   04 May 2019
; Description: A view to display error messages.
;===========================================
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
